/* ======================= for Create component ============================= */

/* ===== create-area ===== */
.create__area {
  width: 100%;
  margin-top: 50px;
}

/* ===== create-flex ===== */
.create__flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/* ======== editor output style ======= */
.output__area {
  width: 100%;
  background-color: var(--default-color);
  box-shadow: var(--primary-shadow);
}
.output__area h5 {
  background-color: indigo;
  padding: 8px;
  color: #fff;
}

/* ===== output iframe ====== */
.output__iframe {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
}
.btn__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submit__btn {
  background-color: var(--primary-color);
  padding: 12px 30px;
  margin: 10px 0;
  color: #fff;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  transition: 0.8s;
}

.update__btn {
  opacity: 0;
}

.submitted {
  color: green;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-top: 20px;
}
.submit_icon {
  font-size: 22px;
  margin-right: 5px;
}
.goto_profile {
  color: green;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: underline;
}

/* ======================= action__btn__flex__here================= */
.action__btn__flex__here {
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: end;
}
.action__btn__flex__here button {
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  padding: 8px 20px;
  transition: 0.7s;
}
.action__btn__flex__here button:hover:first-child {
  background-color: yellowgreen;
  transition: 0.7s;
}
.action__btn__flex__here button:hover:nth-child(2) {
  background-color: indigo;
  transition: 0.7s;
}
.action__btn__flex__here button:hover:last-child {
  background-color: orangered;
  transition: 0.7s;
}

/* -------------------- show message --------------------------- */
.show__message {
  text-align-last: right;
  margin-top: 12px;
}
.show__message button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  padding: 6px 20px;
  background-color: rgba(0, 128, 0, 0.733);
  color: #fff;
}

.confirmed__btn {
  background-color: gray !important;
  cursor: none !important;
}
/* ======================= responsive ============================= */
@media screen and (max-width: 768px) {
  .create__flex {
    grid-template-columns: repeat(1, 1fr);
  }
}
