/* ============================= for home area===================== */
/* ====== loader ============ */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}
/* ========== loader images ================= */
.loader img {
  width: 200px;
}

/* =========== responsive =============== */
@media screen and (max-width: 768px) {
  .loader img {
    width: 120px;
  }
}
