/* ========================= for user profile components ==================== */

/* ==== user profile area style ======= */
.user_profile_area {
  padding: 50px 0;
}

/* ========= user profile ============ */
.user_profile {
  background-color: #fff;
  padding: 15px;
  box-shadow: var(--primary-shadow);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.user_profile img {
  border-radius: 10px;
  height: 100%;
}

.user_info {
  margin-left: 20px;
}
.user_info h3 {
  font-size: 30px;
}

.user_info h5 {
  font-size: 20px;
  color: gray;
}

.user_info p {
  color: gray;
  margin-bottom: 5px;
}

.icon {
  font-size: 20px;
  margin-right: 5px;
}
.user_info a {
  text-decoration: none;
  color: indigo;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.btn_flex {
  display: flex;
  align-items: center;
}

.btn_flex button {
  border: none;
  padding: 10px 30px;
  margin-top: 10px;
  cursor: pointer;
  color: #fff !important;
  background-color: var(--primary-color);
}
.btn_flex button:first-child {
  margin-top: 18px;
}

.output__iframe {
  width: 100%;
  height: 430px;
  background-color: #fff;
}

.waiting__form__area {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--primary-shadow);
  margin: 20px 0;
}

.waiting__form__area button {
  text-transform: uppercase;
  font-size: 16px;
  border: 2px solid var(--primary-color);
  padding: 5px;
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}
.icon__watch {
  margin-right: 5px;
  font-size: 30px;
}
.waiting__single__form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--primary-shadow);
  margin: 20px 0;
}

.waiting__single__form h2 button {
  border: none !important;
  font-weight: bold;
  font-size: 30px;
}

.action__btns {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 10px;
}

.action__btns button {
  border-radius: 0px !important;
  border: none !important;
  padding: 10px 30px;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}
.action__btns button:first-child {
  background-color: green !important;
}

.user__form__area__here {
  padding: 20px 0;
  margin-bottom: 10px;
}
.user__form__area__here h4 {
  font-size: 16px;
  width: 300px;
  border: 2px dashed var(--primary-color);
  text-align: center;
  padding: 8px;
  background-color: #fff;
  box-shadow: var(--primary-shadow);
}
.user__form__div {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--primary-shadow);
}
.user__form__div h1 {
  font-size: 15px;
  color: var(--primary-color);
}

.go__back__btn {
  display: flex;
  justify-content: end;
}
.go__back__btn button {
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  padding: 5px 30px;
  cursor: pointer;
}

.loader__area__here {
  text-align: center;
}

.loader__area__here img {
  width: 200px;
}
/* =================== Pending and Accepted Area ============================ */
.waiting__accepted__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--primary-shadow);
  width: 300px;
  margin: auto;
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
}

.waiting__accepted__btns button {
  padding: 10px 30px;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  cursor: pointer;
  width: 100%;
  border: 2px dashed var(--primary-color);
}

.pending__true {
  background-color: transparent !important;
  color: var(--primary-color) !important;
}

/* =============== no pending forms ================ */
.no__pending__forms {
  background-color: #fff;
  color: var(--primary-color);
  padding: 10px;
  box-shadow: var(--primary-shadow);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
/* =========================== responsive ============================= */
@media screen and (max-width: 768px) {
  .user_profile {
    flex-direction: column;
    text-align: center;
  }

  .btn_flex {
    justify-content: center;
  }

  .user_profile h3 {
    font-size: 22px;
    margin-top: 10px;
  }
  .user_profile h5 {
    font-size: 17px;
  }
  .btn_flex button {
    padding: 8px !important;
  }
}
